.featured-news {
  background-image: radial-gradient(40% 30% at 50% 0, rgba(131, 131, 131, 0.85), #111111);
}

.news-cards-container {
  font-family: "Reddit Sans", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
  max-width: 1600px;
  margin: 0 auto;
  margin-left: 4rem;
  margin-right: 4rem;
}

.card {
  position: relative;
  height: 421px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
  border-radius: 0.7rem;
  overflow: hidden;
  background: radial-gradient(100% 100% at 50.52% 0%, #8f8f8f 0%, #000000 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
}

.img-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.text-container .date {
  color: #ffffff;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.text-container h2 {
  color: #FFFFFF;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #ffffff;
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  height: 0;
}

.card:hover .description {
  opacity: 1;
  height: auto;
}

.card:hover .text-container button {
  color: #0088ff; 
}

.text-container button {
  background-color: transparent;
  color: #ffffff;
  padding: 0;
  border: none;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  margin: 15px 0;
}

.blog-divider, .blog-divider-wrapper {
  position: relative;
  width: 100%;
  height: 10px;
  /* margin: 14px 0; */
  z-index: 0;
}

.blog-divider-wrapper::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 93%;
  bottom: 0;
  width: 75px;
  height: 1px;
  background-color: #b3b6b7;
  z-index: 1;
  transform: rotate(45deg);
  transform-origin: 0% 0%;
  transition: all .3s ease;
}

.blog-divider::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65px;
  height: 10px;
  background-color: #b3b6b7;
  z-index: 1;
  transition: all .3s ease;
}

.blog-divider::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 93%;
  height: 1px;
  background-color: #b3b6b7;
  z-index: 1;
  transition: all .3s ease;
}

.card:hover .blog-divider::before,
.card:hover .blog-divider::after,
.card:hover .blog-divider-wrapper::before {
  background-color: #0088ff;
}

.button-view-all {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 800;
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5rem;
}

.button-register,
.button-login {
  font-family: "Reddit Sans", sans-serif;
  font-weight: 800;
  font-family: "Reddit Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16rem;
  margin: auto;
  border-radius: 2rem;
}

.button-register a,
.button-login a {
  font-family: "Reddit Sans", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.8rem 0.2rem;
}

.button-login {
  border: 1px solid white;
}
.button-login:hover {
  background-color: #0A3458; /* Color azul al hacer hover */
  border: 1px solid #07497C; /* Cambia el color del borde también */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Añade una transición suave */
}